/* ===== AJUSTE INDEX PRAXLABS ===== */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 20px auto;
}

.logo-top {
  width: 140px;       /* CONTROLA O TAMANHO */
  max-width: 100%;
  height: auto;
  margin: 0 auto 10px;
  display: block;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-center a {
  text-decoration: none;
  font-weight: bold;
}
